<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GjBackScrollViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8BFD1631DFBEA8E00901876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8BFD17C1DFBEA8F00901876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8BFD1871DFBEA8F00901876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
